@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    font-size: 48px;
}

h1,
h2,
h3,
h4,
h5, 
h6 {
    font-family: 'Lato', 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

p,
li {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    line-height: 1.5em;
    color: white;
}

pre {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

header {
    margin: 0;
    width: 100%;
    background-color: #2e2904;
    color: black;
}

header h1 {
    margin: 0;
    font-family: 'Lato', 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
}

nav li {
    float: left;
    font-family: 'Montserrat', sans-serif, serif;
    color: white;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(87, 87, 87);
}

code {
  font-family: Consolas,"courier new";
  color: green;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

.active {
    background: darkgray;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.fullCard {
    margin-left: auto; 
    margin-right: auto;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px;
}

.fullCard:hover {
    transform: scale(1.01)
}

.cardContent {
    padding: 10px;
}

.cardText {
    margin-bottom: 30px;
}

#thumbnail {
    box-shadow: 0 12px 12px rgba(255, 255, 255, 0.19), 0 12px 12px rgba(255, 255, 255, 0.23);
}

